@model Cunstudio.Models.GoiDichVu

@{
    ViewBag.Title = "Chỉnh sửa gói dịch vụ";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<main>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Chỉnh sửa gói dịch vụ</h3></div>
                <div class="card-body">
                    @using (Html.BeginForm("ChinhSuaGoi", "QuanLyGoi", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id_Goi)

                        <div class="form-group">
                            @Html.LabelFor(model => model.TenGoi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.TenGoi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenGoi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DiaDiem, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.DiaDiem, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DiaDiem, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.HoTro, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.HoTro, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HoTro, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SoTam, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.SoTam, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoTam, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GiaTien, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-13">
                                @Html.EditorFor(model => model.GiaTien, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GiaTien, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group mt-4 mb-0">
                                <input type="submit" name="save" class="btn btn-primary btn-block" value="Thay đổi" />
                                <input class="btn btn-primary btn-block" onclick="location.href='@Url.Action("DanhSachGoi","QuanLyGoi")'" value="Quay lại!" />
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</main>